<!--

Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database.

 -->
 <div class=" row header">
     <div class="col-sm-4">
 <img class="burger-img" src="assets/img/neon-burger2.jpg" alt="Happy Little Burger">
 </div>
  <div class="col-sm-4 header-title">
 <h1>The Burger List</h1>
 </div>
  <div class="col-sm-4">
 <img class="burger-img" src="assets/img/neon-burger2.jpg" alt="Happy Little Burger">
</div>
</div>

<div class="row content">

    <div class="col-sm-4 not-devoured">
        <h4>Burgers I will eat!</h4>

            {{#each burgers}}
            {{#unless devoured}}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title undevoured-card">{{this.id}}. {{this.burger_name}} {{> burgers/burger-block devoured=false}}</h5>
                    <div class="text-right">
                       
                    </div>
                </div>
            </div>
            {{/unless}}
            {{/each}}
      
    </div>
    <div class="col-sm-4 burger-creator">
        <h4>Add a Burger</h4>
        <form class="create-form">
            <div class="form-group">
                <label for="bu">Burger Name:</label>
                <input type="text" id="bu" name="name">
            </div>
            <button type="submit">Add Burger</button>
        </form>
    </div>
    <div class="col-sm-4 devoured">
        <h4>Burgers I have eaten!</h4>
        {{#each burgers}}
        {{#if devoured}}
        <div class="card mt-3">

            <div class="card-body">
                <h5 class="card-title devoured-card">{{this.id}}. {{this.burger_name}}</h5>
                <!--    <p class="card-text">{{this.desc}}</p>   -->
                <!-- COMMENT THIS OUT WHEN SUBMITTING -->
               {{!--  <div class="text-right">
                    {{> burgers/burger-block devoured=true}}
                </div> --}}
                <!-- END COMMENT -->
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
